@import "../fonts.css";

#slider, ul {
  height: 450px;
  width: 100%;
}

#slider {
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 620px;
  top: 300px;
  z-index: 5;
}

#slider li
{
  float: left;
  position: relative;
  width: 620px;
  display: inline-block;
  height: 450px;
}

#slider ul
{
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 9000px;
  -o-transition: left .13s linear;
  transition: left .13s linear;
  -moz-transition: left .13s linear;
  -o-transition: left .3s linear;
  -webkit-transition: left .13s linear;
  margin-left: -25px;
}

/*** Content ***/

.slider-container {
  margin: 0 auto;
  padding: 0;
  width: 550px;
  min-height: 180px;
  z-index: 4;
}

.slider-container  p {
  margin: 10px 25px;
  line-height: 80%;
  text-align: justify;
  color: whitesmoke;
  font-size: 85px;
  font-weight: bolder;
  font-family: "PT Sans Narrow";
}

/*** target hooks ****/

@-webkit-keyframes slide-animation {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  20% {
    left: 0;
    opacity: 1;
  }
  22.5% {
    opacity: 0.6;
  }
  25% {
    left: -600px;
    opacity: 1;
  }
  45% {
    left:-600px;
    opacity: 1;
  }
  47.5% {
    opacity: 0.6;
  }
  50% {
    left:-1200px;
    opacity: 1;
  }
  70% {
    left: -1200px;
    opacity: 1;
  }
  72.5% {
    opacity:0.6;
  }
  75% {
    left:-1800px;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  98% {
    left: -1800px;
    opacity: 0;
  }
  100% {
    left:0;
    opacity:0;
  }
}

#slider ul
{
  -webkit-animation: slide-animation 18s infinite;
}
