@media (max-width: 1470px) {
  .photo-grid {
    width: 90%;
    left: 5%;
  }

  figure {
    width: 30%;
  }
}

@media (max-width: 1200px) {
  figure {
    width: 45%;
  }
}

@media (max-width: 1000px) {
  .photo-grid {
    width: 100%;
    left: 0;
  }

  figure {
    width: 50%;
    left: 25%;
  }
}

@media (max-width: 650px) {
  figure {
    width: 80%;
    left: 10%;
    margin: 20px;
  }
}
