@media (max-width: 1300px) {
  .information-about {
    font-size: 44px;
    width: 40%;
  }
}

@media (max-width: 1130px) {
  .flip-container {
    width: 40%;
  }
}

@media (max-width: 850px) {
  .flip-container {
    width: 70%;
    left: 15%;
    height: 650px;
  }

  .information-about {
    width: 100%;
    left: 0;
    font-size: 40px;
    margin-top: 20%;
  }
}

@media (max-width: 600px) {
  .flip-container {
    width: 90%;
    left: 0;
    height: 550px;
  }
  .information-about {
    width: 70%;
    left: 15%;
    font-size: 40px;
  }
}

@media (max-width: 350px) {
  .flip-container {
    display: none;
  }
  .information-about {
    width: 100%;
    font-size: 40px;
  }
}
