@import "../slider/slider.css";

@media (max-width: 1200px) {
  .info-main, .info-second {
    width: 100%;
  }

  .delivery a {
    padding: 10px;
  }

  .info {
    width: 70%;
    font-size: 24px;
  }

  section {
    top: 0;
  }
}

@media (max-width: 1000px) {
  section {
    top: 350px;
  }

  .video {
    top: 100px;
  }

  #slider .slider-container p {
    font-size: 50px;
  }
}

@media (max-width: 860px) {
  footer .my-logo-footer {
    left: 45%;
  }

  header #slider {
    display: none;
  }

  .logo {
    display: none;
  }
}

@media (max-width: 800px) {
  section {
    top: 350px;
  }
}

@media (max-width: 700px) {
  header {
    background-image: url("../../img/background/phone-for-adaptive-index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9;
    height: 600px;
  }

  .video {
    display: none;
  }

  .info {
    top: 25%;
  }

  .info p, .description p, .info-second p, .info-second p, .text-last {
    font-size: 34px;
  }
}

@media (max-width: 700px) {
  .delivery {
    width: 100%;
  }

  .description {
    width: 100%;
    background: rgba(42, 44, 44, 0.7);
    left: 0;
    height: 100%;
    top: 0;
  }

  .info-main, .info-second {
    height: 500px;
  }
}

@media (max-width: 450px) {
  .info, .my-logo-footer {
    display: none;
  }
}