@import "fonts.css";
@import "footer-style.css";
@import "nav-style.css";

* {
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  height: 100px;
}

header, section {
  width: 100%;
}

body, html {
  height: 100%;
  max-width: 1560px;
  margin: 0 auto;
}

section {
  height: 100%;
}

.parallax {
  background-image: url(../img/parallax/back.jpg);
  height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax:nth-child(3n),
.parallax:nth-child(5n) {
  height: 40%;
}

.parallax:nth-child(3n) {
  background-image: url("../img/parallax/old-city.jpg");
}

.parallax:nth-child(5n) {
  background-image: url("../img/parallax/cook-366875_1920.jpg");
}

.dark-phone {
  background: black;
  height: 100%;
  opacity: 0.7;
}

.wrapper-about {
  top: 5%;
  background-image: url("../img/parallax/black-1072366_1280.jpg");
}
/*flip-effect*/
.flip-container {
  height: 550px;
  margin: 20px;
  display: inline-block;
  width: 30%;
  left: 10%;
  position: relative;
}

.flipper {
  width: 100%;
  height: 100%;
}

.back, .front {
  border: 10px solid #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 15%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.back {
  background-image: url("../img/flip/restorant-road.jpg");
}

.front {
  background-image: url("../img/flip/lantern.jpg");
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipper {
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.front {
  z-index: 2;
}

.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.information-about, .flip-container {
  display: inline-block;
}

.information-about {
  color: #FFFFFF;
  top: 0;
  height: 80%;
  font-family: Neucha;
  font-size: 48px;
  font-weight: bold;
  left: 5%;
  position: relative;
}

.information-about p {
  padding: 5%;
}

map {
  width: 100%;
  height: 500px;
  position: relative;
  bottom: 0;
}

iframe {
  width: 100%;
  height: 100%;
}

map, .wrapper-about, .front, .back {
  -webkit-box-shadow: 0 0 25px black, 0 0 25px black;
  box-shadow: 0 0 25px black, 0 0 25px black;
}