blockquote {
  position: relative;
  top: 200px;
  left: 50px;
  color: white;
  font-family: Neucha;
  padding: 20px;
  font-size: 66px;
  line-height: 1.1;
  text-align: left;
  width: 80%;
  z-index: 12;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 3s steps(50, end);
  animation: type 3s steps(50, end);
}

@keyframes type{
  from {
    width: 0;
  }
}

@-webkit-keyframes type{
  from {
    width: 0;
  }
}

@media (max-width: 1300px) {
  blockquote {
    font-size: 38px;
  }
}

@media (max-width: 850px) {
  blockquote {
    display: none;
  }
}