@import "fonts.css";
@import "blockquote.css";
@import "footer-style.css";
@import "nav-style.css";

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  max-width: 1560px;
  margin: 0 auto;
}

header {
  width: 100%;
  position: absolute;
}

.parallax {
  background-image: url(../img/parallax/back.jpg);
  height: 70%;
}

.parallax:nth-child(3n),
.parallax:nth-child(5n),
.parallax:nth-child(7n),
.parallax:nth-child(9n),
.parallax:nth-child(11n) {
  height: 40%;
}

.parallax:nth-child(3n) {
  background-image: url("../img/parallax/table.jpg");
}

.parallax:nth-child(5n) {
  background-image: url("../img/parallax/salat-parallax.jpg");
}

.parallax:nth-child(7n) {
  background-image: url("../img/parallax/zeppelin.jpg");
}

.parallax:nth-child(9n) {
  background-image: url("../img/parallax/bread-min.png");
}

.parallax:nth-child(11n) {
  background-image: url("../img/parallax/cook-366875_1920.jpg");
}

.dark-phone, .parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  height: 100%;
}

.dark-phone {
  background: black;
  height: 100%;
  opacity: 0.7;
}

.vip {
  font-size: 2.5em;
  color: crimson;
  text-shadow: 1px 1px 3px black;
}

.city , .time, .child-menu, .su {
  font-size: 1.4em;
}

.time, .su {
  text-decoration: underline;
}

.child-menu {
  color: tomato;
  text-shadow: 1px 1px 3px black;
}

.vegan {
  text-decoration: underline;
}

.events {
  padding: 20px;
  background: rgba(166, 215, 211, 0.2);
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 0 0 25px black, 0 0 25px black;
  box-shadow: 0 0 25px black, 0 0 25px black;
}

.events:before {
  border-top: 6px solid #00AA72;
  border-left: 6px solid #00AA72;
  width: 30px;
  height: 30px;
  top: 24px;
  left: 24px;
  z-index: 3;
}

.events p {
  min-width: 300px;
  width: 100%;
  text-align: center;
  border: 4px solid #00AA72;
  position: relative;
  padding: 50px 30px 30px 30px;
  margin: 0;
  font-family: "Marck Script";
  font-size: 28px;
  line-height: 1.2;
}

.events p:before, .events p:after, .events:before {
  content: "";
  position: absolute;
}

.events p:before {
  width: 64px;
  height: 46px;
  border-bottom: 4px solid #00AA72;
  left: -4px;
  top: -4px;
  background: #E7F3E5;
}

.events p:after {
  width: 14px;
  height: 60px;
  border-top: 4px solid#00AA72;
  border-left: 4px solid #00AA72;
  left: 42px;
  top: -4px;
}