@font-face {
  font-family: Caveat;
  src: url("../fonts/Caveat/Caveat-Regular.ttf");
}

@font-face {
  font-family: "Amatic SC";
  src: url("../fonts/Amatic_SC/AmaticSC-Regular.ttf");
}

@font-face {
  font-family: "Marck Script";
  src: url("../fonts/Marck_Script/MarckScript-Regular.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha/Neucha.ttf");
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf");
}