@import "fonts.css";

footer {
  position: relative;
  width: 100%;
  height: 250px;
  background:  -webkit-gradient(linear, left top, left bottom, from(grey), to(darkolivegreen));
  background:  -webkit-linear-gradient(grey, darkolivegreen);
  background:  -o-linear-gradient(grey, darkolivegreen);
  background:  linear-gradient(grey, darkolivegreen);
  -webkit-box-shadow:inset 0px 0 25px black,inset 0px 0 25px black;
  box-shadow:inset 0px 0 25px black,inset 0px 0 25px black;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  background-image: url("../img/decor-elements/for-footer.png");
}

footer p {
  color: #FFFFFF;
  font-size: 26px;
  font-family: "Amatic SC";
  padding: 10px;
}

.my-logo-footer {
  width: 150px;
  top: 5%;
  left: 20%;
  height: 150px;
  border-radius: 100%;
}

.top, .my-logo-footer {
  -webkit-box-shadow: -3px 3px 15px black, inset 3px 3px 15px black;
  box-shadow: -3px 3px 15px black, inset 3px 3px 15px black;
  position: absolute;
  opacity: .5;
  border: 5px solid white;
}

.my-logo-footer p {
  font-size: 28px;
  color: white;
  font-family: "Amatic SC";
  position: relative;
  left: 10%;
  bottom: -33%;
  -webkit-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  transform: rotate(-35deg);
  text-decoration: underline;
}

.soc {
  width: 150px;
  height: 27%;
  position: relative;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  opacity: .7;
  transition: 1s;
}

.socium-media a {
  width: 100%;
  height: 100%;
  display: block;
}

.socium-media {
  top: 0;
  position: relative;
  width: 50%;
  height: 100%;
}

.socium-media {
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.socium-media:first-child {
  background-image: url("https://png.icons8.com/ios/2x/instagram-filled.png");
}

.socium-media:last-child {
  background-image: url("../img/socium-media/Vk.com_icon.png");
  background-size: contain;
}

.soc:hover {
  transform: scale(1.2);
  color: red;
}

.top {
  float: right;
  top: 10%;
  right: 2%;
  border-radius: 10%;
}

.top a {
  color: #FFFFFF;
  font-size: 25px;
}


@media (max-width: 1000px) {
  footer .my-logo-footer {
    left: 45%;
  }
}

@media (max-width: 450px) {
  .my-logo-footer {
    display: none;
  }
}
