@import "fonts.css";
@import "blockquote.css";
@import "footer-style.css";
@import "nav-style.css";

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  max-width: 1560px;
  margin: 0 auto;
}

header {
  width: 100%;
  position: absolute;
}

.dark-phone {
  background: black;
  height: 100%;
  opacity: 0.7;
}

.parallax {
  background-image: url(../img/parallax/back.jpg);
  height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax:nth-child(3n),
.parallax:nth-child(5n),
.parallax:nth-child(7n) {
  height: 40%;
}

.parallax:nth-child(3n) {
  background-image: url("../img/parallax/interior-good.jpg");
}

.parallax:nth-child(5n) {
  background-image: url("../img/parallax/table3.jpg");
}

.parallax:nth-child(7n) {
  background-image: url("../img/parallax/window.jpg");
}

section {
  width: 100%;
  height: 100%;
}

figure {
  background: white;
  position: relative;
  height: 300px;
  z-index: 2;
  border: 0;
  display: inline-block;
  width: 30%;
  left: 5%;
}

figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
}

figure {
  margin: 70px 0 70px 0;
  height: 80%;
  top: 10%;
}

figure img {
  opacity: .7;
  -webkit-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s;
  z-index: 0;
}

img:hover {
  opacity: 1;
}

.interior-info {
  padding: 20px;
  background: #E7F3E5;
  position: relative;
  -webkit-box-shadow: 0 0 25px black, 0 0 25px black;
  box-shadow: 0 0 25px black, 0 0 25px black;
}

.interior-info:before, .interior-info p:before, .interior-info p:after {
  content: "";
  position: absolute;
}

.interior-info:before {
  border-top: 6px solid #00AA72;
  border-left: 6px solid #00AA72;
  width: 30px;
  height: 30px;
  top: 24px;
  left: 24px;
  z-index: 3;
}

.interior-info p {
  min-width: 300px;
  text-align: center;
  border: 4px solid #00AA72;
  position: relative;
  padding: 50px 30px 30px 30px;
  margin: 0;
  font-family: "Marck Script";
  font-size: 28px;
}

.interior-info p:before {
  width: 64px;
  height: 46px;
  border-bottom: 4px solid #00AA72;
  left: -4px;
  top: -4px;
  background: #E7F3E5;
}

.interior-info p:after {
  width: 14px;
  height: 60px;
  border-top: 4px solid #00AA72;
  border-left: 4px solid #00AA72;
  left: 42px;
  top: -4px;
}

.interior-info span {
  display: block;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 5px;
  letter-spacing: 2px;
  font-weight: 300;
}