@import "fonts.css";
@import "blockquote.css";
@import "footer-style.css";
@import "nav-style.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  max-width: 1560px;
  margin: 0 auto;
}

header {
  width: 100%;
  position: absolute;
  height: 300px;
}

.parallax {
  background-image: url(../img/parallax/back.jpg);
  height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax:nth-child(3n) {
  background-image: url("../img/parallax/dish.jpg");
}

.parallax:nth-child(5n) {
  background-image: url("../img/parallax/pizza2.jpg");
}

.parallax:nth-child(7n) {
  background-image: url("../img/parallax/bread.jpg");
}

.parallax:nth-child(9n) {
  background-image: url("../img/parallax/cook-366875_1920.jpg");
}

.parallax:nth-child(3n),
.parallax:nth-child(5n),
.parallax:nth-child(7n),
.parallax:nth-child(9n) {
  height: 40%;
}

.dark-phone {
  background: black;
  height: 100%;
  opacity: 0.7;
}

section {
  height: 100%;
}

.menu {
  padding: 20px;
  background: #E7F3E5;
  position: relative;
  -webkit-box-shadow: 0 0 25px black, 0 0 25px black;
  box-shadow: 0 0 25px black, 0 0 25px black;
}

/*borders*/
.menu:before {
  content: "";
  position: absolute;
  border-top: 6px solid #00AA72;
  border-left: 6px solid #00AA72;
  width: 30px;
  height: 30px;
  top: 24px;
  left: 24px;
  z-index: 3;
}

.menu p {
  min-width: 300px;
  text-align: center;
  border: 4px solid #00AA72;
  position: relative;
  padding: 50px 30px 30px 30px;
  margin: 0;
  font-family: "Marck Script";
  font-size: 28px;
}

.menu p:before {
  content: "";
  position: absolute;
  width: 64px;
  height: 46px;
  border-bottom: 4px solid #00AA72;
  left: -4px;
  top: -4px;
  background: #E7F3E5;
}

.menu p:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 60px;
  border-top: 4px solid #00AA72;
  border-left: 4px solid #00AA72;
  left: 42px;
  top: -4px;
}
/*borders-end*/

.pizza {
  font-size: 2.5em;
}

.dishes, .zeppeling {
  font-size: 1.2em;
}

.breakfast {
  font-size: 1.5em;
  text-decoration: underline;
}