@import "fonts.css";

body {
  font-family: "Marck Script";
}

nav {
  width: 65%;
  position: absolute;
  right: 10%;
  top: 20px;
  z-index: 10;
}

.logo {
  background-image: url("../img/decor-elements/logo.jpg");
  width: 150px;
  height: 110px;
  background-size: cover;
  opacity: .4;
  margin: 20px 0 0 20px;
  top: 30px;
  float: left;
}

nav ul {
  position: relative;
  width: 100%;
  height: 100%;
}

ul li {
  position: relative;
  display: inline-block;
  padding: 0 15px 15px 15px;
}

.english-menu {
  text-transform: uppercase;
  text-decoration: underline;
  color: #DAA520;
}

ul li a {
  color: darkseagreen;
  font-family: "PT Sans Narrow";
  font-size: 32px;
  text-shadow: -2px 2px 4px black;
}

ul li a:hover {
  color: #DAA520;
  text-decoration: underline;
}

.mobile-nav {
  width: 70%;
  left: 10%;
  position: absolute;
}

.mobile-ul {
  display: none;
}

label[for="mobile"] {
  width: 100px;
  height: 80px;
  background: rgba(116, 163, 134, 0.2);
  opacity: .7;
  top: 0;
  position: absolute;
  left: 20%;
}

input[type="checkbox"] {
  display: none;
}

input[id="mobile"]:checked ~ .mobile-ul {
  display: block;
}

.mobile-nav span {
  display: block;
  position: absolute;
  top: 45px;
  left: 18px;
  right: 18px;
  height: 6px;
  background: white;
}

.mobile-nav span::before,
.mobile-nav span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fff;
  content: "";
}

.mobile-nav span::before {
  top: -27px;
}

.mobile-nav span::after {
  bottom: -24px;
}

.mobile-nav ul {
  width: 100%;
  background: rgba(116, 163, 134, 0.2);
  top: 100px;
  left: -80px;
}

.mobile-nav ul li {
  display: block;
  width: 50%;
  position: relative;
  left: 40%;
}

label, .mobile-nav {
  display: none;
}

input[id="mobile"]:checked ~ label[for="mobile-ul"] {
  opacity: .5;
}

@media (max-width: 1300px) {
  nav {
    width: 80%;
  }
}

@media (max-width: 850px) {
  nav {
    display: none;
  }
  label, .mobile-nav {
    display: block;
    z-index: 11;
  }

  .mobile-nav {
    width: 100%;
  }
}