@import "fonts.css";
@import "footer-style.css";
@import "nav-style.css";

body {
  font-family: Caveat;
}

body, html {
  height: 100%;
  max-width: 1560px;
  margin: 0 auto;
}

.parallax {
  background-image: url('../img/parallax/black-1072366_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  z-index: -3;
}

header {
  width: 100%;
  position: absolute;
  max-width: 1560px;
}

.video {
  width: 100%;
  top: 140px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 3;
  position: absolute;
}

.logo {
  background-image: url("../img/decor-elements/logo.jpg");
  width: 150px;
  height: 110px;
  background-size: cover;
  opacity: .4;
  margin: 20px 0 0 20px;
  position: relative;
  z-index: 5;
}

section {
  position: relative;
  top: 650px;
  width: 100%;
  height: 200%;
}

.description {
  width: 60%;
  position: relative;
  top: 5%;
  padding: 1%;
}

/*texts*/
.info p,.description p, .info-second p, .text-last {
  color: white;
  font-family: Neucha;
  font-size: 52px;
  line-height: 1.1;
  text-align: left;
  padding: 20px;
}

p span {
  text-decoration: underline;
}

.info {
  width: 50%;
  left: 10%;
  top: 12%;
  z-index: 1;
}

.delivery {
  height: 80px;
  position: relative;
  width: 100%;
  font-size: 42px;
  font-family: Neucha;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 0;
  top: 20%;
}

.delivery a {
  color: #FFFFFF;
  text-align: center;
  padding: 40px;
  background: rgba(116, 163, 134, 0.2);
}

.delivery:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.description {
  left: 40%;
}

.carrot {
  position: fixed;
  width: 500px;
  height: 730px;
  top: -300px;
  right: 10%;
  background-image: url("../img/decor-elements/carrot-min.png");
  opacity: .5;
}

.info-second {
  width: 80%;
  height: 650px;
  background-image: url("../img/background/salad-2068220_640.jpg");
  top: 120%;
  right: 0;
  z-index: 3;
}

.info-second, .info-main, .carrot {
  background-repeat: no-repeat;
  background-size: cover;
}

.info-main {
  width: 85%;
  height: 650px;
  top: 60%;
  background-image: url("../img/background/background-2068215_640.jpg");
  z-index: 3;
}

.text-last {
  width: 60%;
  height: 650px;
  top: 160%;
  left: 10%;
  z-index: 3;
}

.text-last, .info, .info-main, .info-second {
  position: absolute;
}

.info-second, .info-main {
  -webkit-box-shadow: 0 0 25px black, 0 0 25px black;
  box-shadow: 0 0 25px black, 0 0 25px black;
}